$img-width: 800px;
.carousel {
  width: $img-width;
  height: 600px;
  overflow: hidden;
  margin: auto;
  position: relative;
  button {
    position: absolute;
    top: 290px;
    &:nth-of-type(1) {
      left: 10px;
    }
    &:nth-of-type(2) {
      right: 10px;
    }
    
  }
}
.img-container {
  width: $img-width * 6;
  display: flex;
  img {
    display: block;
    width: $img-width;
    height: 600px; 
  }
}

.popup {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  border: 1px solid black;
  img {
    width: 100%;
  }
}
.overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(61, 57, 57, 0.5);
}


/* $bordeau: #990000;
$white: #fff;
.scene {
  width: 800px;
  height: 600px;
  position: relative;
  margin:auto;
  overflow: hidden;
  background-image: url(/assets/images/bg.jpg);
  background-size: cover;
  
  .rideau {
    background-color: $bordeau;
    width: 400px;
    height: 600px;
    position: absolute;
    &:nth-child(1) {
      left: 0;
    }
    &:nth-child(2) {
      left: 400px;
    }
  }

}

.btn {
  display: block;
  background-color: $bordeau;
  color: $white;
  margin: auto;
  border:0;
}
 */